{% extends 'base.html' %}
{% block title %}设备信息 - Test&Lab{% endblock %}
{% load staticfiles %}
{% block custom_bread %}
    <section>
	<div class="wp">
		<div class="crumbs">
			<ul>
				<li><a href="{% url 'index' %}">首页</a>></li>
                <!--在http://127.0.0.1:8000/course/info/10/点击 公开课程 到了CourseListView 返回http://127.0.0.1:8000/course/list/-->
                <li><a href="{% url 'equipments:equipment_list' %}">设备列表</a>></li>
                <!--在http://127.0.0.1:8000/course/info/10/点击 课程详情 到了CourseDetailView 返回http://127.0.0.1:8000/course/detail/10/-->
				<li><a href="{% url 'equipments:equipment_detail' equipment.id %}">设备详情</a>></li>
                <li>设备信息</li>
			</ul>
		</div>
	</div>
    </section>
{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/muke/base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/css/muke/common-less.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/css/muke/course/learn-less.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/aui.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/mooc.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/muke/course/common-less.css' %}">
{% endblock %}

{% block content %}
    <div id="main">
    <div class="course-infos">
        <div class="w pr">
            <div style="height: 15px" class="path">
            </div>
            <div class="hd">
                <h2 class="l">{{ equipment.name }}</h2>
            </div>
            <div class="statics clearfix">
                <div class="static-item ">
                    <span class="meta-value"><strong>{{ equipment.get_status_display }} </strong></span>
                    <span class="meta">状态</span>
                    <em></em>
                </div>
                <div class="static-item static-time">
                    <span class="meta-value">{{ equipment.cal_date }}</span>
                    <span class="meta">校验日期</span>
                    <em></em>
                </div>
                <div class="static-item">
                    <span class="meta-value"><strong> {{ equipment.responsible_person }}</strong></span>
                    <span class="meta">责任人</span>
                    <em></em>
                </div>
            </div>
        </div>
    </div>
    <div class="course-info-main clearfix w has-progress">

        <div class="info-bar clearfix">
        <div class="content-wrap clearfix">
            <div class="content">
                <div class="mod-tab-menu">
                    <ul class="course-menu clearfix">
                        <li><a id="learnOn"   {% if request.path|slice:'16' == '/equipments/info' %} class="ui-tabs-active active" {% endif %}  href="{% url 'equipments:equipment_info' equipment.id %} "><span>信息(视频)</span></a></li>
                        <li><a id="commentOn" {% if request.path|slice:'19' == '/equipments/comment' %} class="active" {% endif %} href="{% url 'equipments:equipment_comments' equipment.id %} "><span>评论</span></a></li>
                        <li><a id="ReserveOn"  {% if request.path|slice:'19' == '/equipments/reserve' %} class="active" {% endif %}  href="{% url 'equipments:equipment_reserve' equipment.id %}"><span>预定</span></a></li>
{#                        <li><a class="ui-tabs-active " id="learnOn"  href="{% url 'equipments:equipment_info' equipment.id %}"><span>信息(视频)</span></a></li>#}
{#                        <li><a id="commentOn" class="active " href="{% url 'equipments:equipment_comments' equipment.id %}"><span>评论</span></a></li>#}
                    </ul>
                </div>
                <div id="notice" class="clearfix">
                    <div class="l"> <strong>设备公告:</strong> <a  href="javascript:void(0)">下面是设备的重要视频可帮助进一步了解此设备</a> </div>
                </div>

                <div class="mod-chapters">
{#                    {% for lesson in course.get_course_lesson %} <!--courses\views中的CourseInfoView传递course过来,通过course找到以此course为外键的lesson-->#}
                        <div class="chapter chapter-active" >
{#                        <h3>#}
{#                            <strong><i class="state-expand"></i>{{ lesson.name }}</strong>#}
{#                        </h3>#}
                        <ul class="video">
                            {% for video in equipment.get_equipment_videos %}<!--equipments\views中的EquipmentInfoView传递equipment过来,通过equipment找到以此equipment为外键的video-->
                            <li>
                                <a target="_blank" href='{% url 'equipments:video_play' video.id %}' class="J-media-item studyvideo">{{ video.name }} ({{ video.time }}分钟)
                                    <i class="study-state"></i>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
{#                    {% endfor %}#}
                </div>

            </div>
            <div class="aside r">
                <div class="bd">
                    <div class="box mb40">
                        <h4>资料下载</h4>
                        <ul class="downlist">
                          {% for equipment_resource in all_resources %}<!--courses\views中的CourseInfoView传递all_resources（CourseResource）过来-->
                            <li>
                                <span ><i class="aui-iconfont aui-icon-file"></i>&nbsp;&nbsp; {{ equipment_resource.name }}</span>
                                <a href="{{ MEDIA_URL }}{{ equipment_resource.download }} " class="downcode" target="_blank" download="" data-id="274" title="">下载</a>
                            </li>
                          {% endfor %}
                        </ul>
                    </div>
                    <div class="box mb40">
                        <h4>设备责任人提示</h4>
                        <div class="teacher-info">
                            <a href="/u/315464/courses?sort=publish" target="_blank">
                                <img src='{{ MEDIA_URL }}{{ equipment.responsible_person.image }} ' width='80' height='80' />
                            </a>
                                <span class="tit">
                                  <a href="/u/315464/courses?sort=publish" target="_blank">{{ equipment.responsible_person.name }} </a>
                                </span>
                            <span class="job">{{ equipment.responsible_person.work_position }} </span>
                        </div>
                        <div class="course-info-tip">
                            <dl class="first">
                                <dt>设备须知</dt>
                                <dd class="autowrap"> 后面设计取决要告诉用户什么</dd>
                            </dl>
                            <dl>
                                <dt>工程师提示你</dt>
                                <dd class="autowrap">注意安全，正规使用</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="cp-other-learned  js-comp-tabs">
                        <div class="cp-header clearfix">
                            <h2 class="cp-tit l">你可能还需要使用的设备</h2>
                        </div>
                        <div class="cp-body">
                            <div class="cp-tab-pannel js-comp-tab-pannel" data-pannel="course" style="display: block">
                                <!-- img 200 x 112 -->
                                <ul class="other-list">
                                    {% for relate_equipment in relate_equipments %}
                                    <li class="curr">
                                        <a href="{% url 'equipments:equipment_detail' relate_equipment.id %} " target="_blank">
                                            <img src="{{ MEDIA_URL }}{{ relate_equipment.image }} " alt="{{ relate_equipment.name }}">
                                            <span class="name autowrap">{{ relate_equipment.name }}</span>
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="cp-tab-pannel js-comp-tab-pannel" data-pannel="plan">
                                <ul class="other-list">
                                    <li class="curr">
                                        <a href="/course/programdetail/pid/31?src=sug" target="_blank">
                                            <img src="http://img.mukewang.com/56551e6700018b0c09600720-240-135.jpg" alt="Java工程师">
                                            <span class="name autowrap">Java工程师</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
     </div>
    </div>
</div>
{% endblock %}


